@model IEnumerable<School.Models.Curriculum>

@{
    ViewData["Title"] = "Kreu i Kurrikules";
}

<h1>Kurrikulat</h1>

<p>
    <a asp-action="Create">Krijo te Ri</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Weeks
            </th>
            <th>
                Hours
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Weeks
                </td>
                <td>
                    @item.Hours
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
